.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0
}

.main {
  padding: 6rem;
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.profile {
  border-bottom: 1px solid rgb(215, 215, 215);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.profile--wrapper {
  flex: auto;
  width: 100%;
}

.profile--links {
  display: flex;
  gap: 20px;
  color: rgb(104, 141, 180);
}

.profile--links a {
  text-decoration: underline;
}

